

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <p class="nav-item nav-link">Site Test @angular</p>
        <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="auth">Se connecter</a></li>
        <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="blog">Blog</a></li>
        <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="newuser">Créer un utilisateur</a></li>
        <li routerLinkActive="active" class="nav-item nav-link"><a routerLink="users">Utilisateurs</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<br />
<div class="container">Vous êtes connecté depuis {{ secondes }} secondes.</div>
